.header {
  position: relative;
}

.new-todo {
  border: 1px solid transparent;
  transition: .3s border-color;
}

.error {
  color: red;
}

.new-todo.error {
  border-color: red;
}

.new-todo + .error {
  margin: 0;
  position: absolute;
  top: 0;
  left: 100%;
  background: red;
  color: white;
}
