body {
  margin: 0;
  padding: 0;
}

.cbrowser {

}

.cbrowser nav {
  padding: 15px;
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
  border-bottom: 1px solid #ccc;
}

.cbrowser nav h1 {
  float: left;
  margin: 0;
  padding: 0;
}

.componentList {
  margin: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.componentListItem {
  border: 1px solid #ccc;
  padding-bottom: 12px;
  overflow: auto;
}

.componentListItemTitle {
  border-bottom: 1px solid #ccc;
  padding: 12px;
}

.componentThumbnail {
  float: left;
  margin-left: 12px;
  margin-top: 12px;
  padding: 12px;
  border: 1px solid #ccc;
  width: 400px;
  overflow-x: auto;
  overflow-y: auto;
}

.componentThumbnailDetail {
  margin: 12px 12px 12px 450px;
}